<div class="post">
    <h2>Whats in your messages? - digital psychologist</h2>
    <p>
        TODO write text about the program.
    </p>

    <h2>Upload a File and Input a String</h2>
        <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="file">Select a file:</label><br>
        <input type="file" id="file" name="file" accept=".txt,.pdf"><br><br>
        <label for="input_string">Enter a string:</label><br>
        <input type="text" id="input_string" name="input_string"><br><br>
        <input type="submit" value="Submit">
        </form>
    <p class="date">Published on April 18, 2024</p>
</div>